
/* Your CSS Code here. */
#eg1{
	margin:20px;
	width:300px
	
}
#eg2{
	
	
	border: 15px solid blue;
	
}
#eg3{
	padding: 50px;
	background-color:lightblue;
	margin:20 px
	border: 15px solid blue;
}
#eg4{
	
}
#eg5{
	
}