
/* Your CSS Code here. */
#eg1{
	margin:20px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	
}
#eg2{
	height:200%;
	width:80%;
	background-color:cyan;
	margin:5%;
	
	
	border-width:30px;
	border-style:solid;
	border-color:blue;
	
}
#eg3{
	padding: 50px;
	border-width:2px;
	border-style:solid;
	border-color:royalblue;
}
#eg4{
	
}
#eg5{
	
}