
/* Your CSS Code here. */
#eg1{
	margin:20px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	
}
#eg2{
	margin:20px;
	border-width:15px;
	border-style:solid;
	border-color:blue;
	
}
#eg3{
	padding: 50px;
	background-color:lightblue;
}

#eg4{
	width:300px;
	background-color:lightblue;
	padding:50px;
	margin:20px;
	border:15px solid blue;
	
}